<a href="https://twitter.com/share" class="twitter-share-button" <%
  if (typeof dataSize !== "undefined") { %>data-size="<%= dataSize %>" <% }
  if (typeof dataVia  !== "undefined") { %>data-via="<%= dataVia  %>" <% }
  if (typeof dataRelated  !== "undefined") { %>data-related="<%= dataRelated  %>" <% }
  if (typeof dataHashtags  !== "undefined") { %>data-hashtags="<%= dataHashtags  %>" <% }
  %> >Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
