<a href="https://twitter.com/<%= twitterHandle %>" class="twitter-follow-button" data-show-count="false" <%
  if (typeof dataSize      !== "undefined") { %>data-size="<%= dataSize %>" <% }
  if (typeof dataShowCount !== "undefined") { %>data-show-count="<%= dataShowCount %>" <% }
%> >Follow @<%= twitterHandle %></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
